name = "fortran-lapack"
version = "0.1.0"
license = "BSD3"
author = "Federico Perini"
copyright = "Copyright 2024, Federico Perini and the Reference-LAPACK contributors"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = true
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"
[library]
source-dir="src"
[preprocess]
[preprocess.cpp]

